<script type="text/javascript">
  window.staticImages = {
    epicruxLogo: "<%= asset_path('epicrux-logo.png') %>",
    menuIcon: "<%= asset_path('menu-icon.png') %>",
  }

  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="root"></div>
