@import '../colors.scss';

#navbar {
  background-color: $purple;
  height: 10%;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 5px;
}

#navbar-row {
  height: 100%;
  width: 100%;
}

#epicrux-logo {
  width: auto;
  height: 100%;
}

@media screen and (max-width:650px) {

}
