@import '../colors.scss';


#navbar {
  background-color: $purple;
  color: white;
  height: 10%;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 5px;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

#navbar-logo-and-text {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#epicrux-logo {
  width: auto;
  height: 80%;
}

#navbar-items {
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    transform: scale(1.2);
  }
}

#navbar-dropdown {
  display: none;
}

@media screen and (max-width:650px) {
  #navbar-dropdown {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #navbar-dropdown-icon {
    height: 60px;
    width: auto;

    &:hover {
      cursor: pointer;
    }
  }

  #navbar-items {
    display: none;
  }
}
